BOT_TOKEN=
OWNER_ID=0
OWNER_USERNAME=SUDEEPBOTS
REPO_URL=https://github.com/SUDEEPBOTS/module-renamer-bot
SUPPORT_CHAT=SUDEEPBOTS
MONGO_URI=
DATABASE_NAME=renamer_bot
SUDO_USERS=
FSUB_CHANNEL=SUDEEPBOTS
FSUB_CHAT_ID=0
GITHUB_TOKEN=
LOG_CHANNEL=0
PORT=8080
WORK_DIR=/tmp/renamer_work
START_IMG=https://yukiapi.site/file/zNsU7hDf
STATS_IMG=https://yukiapi.site/file/3G26xQbs
HELP_IMG=https://yukiapi.site/file/at2NPZeU
